.layout-header {
  background-color: #001529;
  color: #fff;
}

.layout-content {
  padding: 0;
  background: rgb(255, 255, 255);
  min-height: 100vh;
}

.layout-footer {
  text-align: center;
  background-color: #001529;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  margin: 0;
}

.sb-title {
  position: relative;
  top: -12px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.sb-title-icon {
  position: relative;
  top: -5px;
}

.card-container {
  display: flex;
  height: 100vh;
}

.panel-left {
  background: rgb(255, 255, 255);
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.panel-right {
  background: rgb(255, 255, 255);
  width: 300px;
  padding: 20px;
  display: block;
}

.map {
  width: 100%;
  background: rgb(255, 255, 255);
}

h2 {
  margin: 0;
  font-family: Roboto, sans-serif;
}

input {
  height: 30px;
}

input {
  border: 0;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

input:focus::placeholder {
  color: white;
}
